* {
    box-sizing: border-box;
    display:flex;
    font-size:auto;
 
  }
.bg-align-top{
 margin-top:0;
 top:0
}
.bg-dark {
    background: rgba( 255, 255, 255, 0.25 );
    width:auto
   
}
.bg-container:before, .bg-container:after {
    content: "";
    display: table;
 }
 .bg-container:after {
    clear: both;
 }
 
@media only screen and (max-width:1080px) {
    .screen-md{
  
        display:none

    }
  }
  @media only screen and (max-height:800px) {
    .screen-sm{
  
        display:none
    }
    .font-lg{
        font-size:25px;
    }
    .font-sm{
        font-size:10px
    }
    .font-xsm{
        font-size:8px;
    }
  }
  .bg-bold{
    font-weight:bolder;
  }
  .font-xsm{
    font-size:9px;
}
.bg-container{
 
 
    overflow:initial;
    width: 100%;
    margin: 0 auto;
    position:relative;
    padding: 10px;
    width:auto;
    display: flex;
    box-sizing: border-box;
   
  
    
    gap: 0px;
    height: 100%;
}
.bg-logo{
    padding:10px;
    font-size:30px;
    display:block
}


.bg-box{
    display: inline;
    grid-template-columns: auto  ;
    columns: 100px 2;
    padding: 30px;
    overflow:hidden;
    margin-top:20px;
    position: relative;
 
   
}
.btn-primary{
    cursor: pointer;
    background-color: #236DC9;
    padding:10px 18px;
    text-align:center;
    justify-content: center;
    border:2px;
    width:10%;
    border-radius:5px
}
.btn-dark{
    cursor: pointer;
     background-color:#343131;
    padding:10px 18px;
    text-align:center;
    justify-content: center;
    border:2px;
    width:10%;
    border-radius:5px
}
[class*="bgcol-"] {
    width: 100%;
  }
  
  @media only screen and (max-height: 600px) {
    /* For tablets: */
    .bgcol-s-1 {width: 8.33%; font-size:70px}
    .bgcol-s-2 {width: 16.66%; font-size:30px}
    .bgcol-s-3 {width: 25%;  font-size:15px}
    .bgcol-s-4 {width: 33.33%;}
    .bgcol-s-5 {width: 41.66%;}
    .bgcol-s-6 {width: 50%;}
    .bgcol-s-7 {width: 58.33%;}
    .bgcol-s-8 {width: 66.66%;}
    .bgcol-s-9 {width: 75%;}
    .bgcol-s-10 {width: 83.33%;}
    .bgcol-s-11 {width: 91.66%;}
    .bgcol-s-12 {width: 100%;}
    .bg-container-rwd {
        
        font-size:20px
    }
  }
   
 
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .bgcol-1 {width: 8.33%;}
    .bgcol-2 {width: 16.66%;}
    .bgcol-3 {width: 25%;}
    .bgcol-4 {width: 33.33%;}
    .bgcol-5 {width: 41.66%;}
    .bgcol-6 {width: 50%;}
    .bgcol-7 {width: 58.33%;}
    .bgcol-8 {width: 66.66%;}
    .bgcol-9 {width: 75%;}
    .bgcol-10 {width: 83.33%;}
    .bgcol-11 {width: 91.66%;}
    .bgcol-12 {width: 100%;}
  }

.bg-box-right{
margin-top:auto;
justify-content: space-evenly;
}


.bg-light{
  color:white
}

.bg-nav   li  {
    display: inline;
    float:start;
    width:auto;
  
   
}

.bg-left-10{
    margin-left:10px;
}
.bg-left-20{
    position:relative;
    margin-left:10px;
}

.bg-nav-dark{
    background-color: black;
    height:50px
}
.bg-nav-light{
    overflow: hidden;
    height:auto;
    box-sizing: border-box;
    border: var(--bg-card-border, 1px solid #ccc);
    border-radius: var(--bg-card-border-radius, 0.5em);
    box-shadow: var(--bg-card-box-shadow, 0 0.25em 0.5em #aaa);
    background: var(--bg-card-background, #fff);
    padding: var(--bg-card-padding, 1em); 
 
 
 

}
.bg-nav-light ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:40px;
  width:100%;
  justify-content: start;



 
}

.bg-center{
    margin:auto;
    width:fit-content;
}

.bg-nav li a{
    margin-left:10px;
    text-decoration: none;
    color:black
}

.center{
    margin-left:650px;
    justify-content: center;
}
.top{
 
    position:relative;
    top:-60%
}
.grid-container {
    display: grid;
    justify-content: space-between;
    padding:50px;
  }

.font-sm{
    font-size:15px
}
.font-lg{
    font-size:36%
}
.bg-header{
    column-span: all;
    flex: content;
    display: flexbox;
    padding-bottom:40px;
    margin-top:auto;
    margin-left:auto;
}

.bg-fluid{
    margin: 0 auto;
    position:relative;
    display: grid  ;
    width:auto;
    box-sizing: border-box;
    
    gap: 0px;
    height: 100%;
    padding: 15px;
 
}

.bg-card{

    overflow: hidden;
    height:auto;
    box-sizing: border-box;
    border-radius: 25px;
    backdrop-filter: blur(18.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, rgba(241, 241, 241, 0.7)0,0.7));
    width: 100%;
    min-height: 70px;
    mix-blend-mode: hard-light;
}
.bg-card-dark{

    overflow: hidden;
    height:auto;
    box-sizing: border-box;
    border-radius: 25px;
    backdrop-filter: blur(18.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(66,60,90,0.7), rgba(66,60,90,0.7));
    width: 100%;
    min-height: 70px;
    mix-blend-mode: hard-light;
}
.bg-card-title{
      font-size:23px;
 
    padding-bottom:7px;
}

.bg-card-body{
    display:inline-flex
}

.bg-code{
    border-left-color: rgb(66, 240, 66);
    border-right-style:none;
 
    border-left-style:outset;
    border-width: 5px;
    padding:10px;
    width:auto;
    background-color:transparent;
    border-radius: 10px;
    backdrop-filter: blur(18.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7));
    width: 100%;
    min-height: 70px;
   
}

.bg-code-dark{
    border-left-color: rgb(66, 240, 66);
    border-right-style:none;
 
    border-left-style:outset;
    border-width: 5px;
    padding:10px;
    width:auto;
    background-color:transparent;
    border-radius: 10px;
    backdrop-filter: blur(18.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(41, 38, 38, 0.7), rgba(28, 28, 28, 0.7));
    width: 100%;
    min-height: 70px;
   
}


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto+Condensed:wght@700&family=Signika+Negative:wght@400;700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-Raleway{
    font-family: 'Raleway', sans-serif;
}

.font-negative-left-10{
 margin-left:-10%;
}
.font-negative-left-20{
 margin-left:-25%;
}

.font-roboto_thin{
    font-family: 'Roboto', sans-serif;
}
.font-opensans_light{
    font-family: 'Open Sans', sans-serif;
}

.font-italic{
text-emphasis:initial;
}

.font-bold{
    font-weight: bold;
}

.font-lg{
    font-size:30px
}

.font-md{
    font-size:30px
}
.font-light{
    color:white
}

.font-primary{
    color:rgb(34, 119, 231)
}

.bg-card-title{
  position:relative;
  text-align:center;
  justify-content:center;
   
}
 
 
.font-wrap{
    word-wrap: break-word;
    word-break: break-all;
    border:20px
}

.font-xl{
    font-size:100px
}


/*images*/

.bg-img-sm{
    width:40px
}
.bg-img-md{
    width:50px
}
.bg-img-lg{
    width:100px
}
.bg-img-round{
    border-radius:5px
}

.bg-right-10{
    right:10px;
    position:relative
}
.bg-right-20{
    right:25px;
    position:relative
}

.font-white{
    color:white
}
.bg-top-10{
    margin-top:10px;

}
.bg-top-20{
    margin-top:25%;

}

.bg-top-negative-10{
    position:relative;
    margin-top:-10%;
}

.bg-top-negative-20{
    position:relative;
    margin-top:-25%;
}
.bg-top-negative-30{
    position:relative;
    margin-top:-35%;
}
.bg-top-negative-40{
    position:relative;
    margin-top:-45%;
}
.bg-top-negative-5{
    position:relative;
    margin-top:-5%;
}

.bg-top-30{
    margin-top:20%;
}
.bg-wdith-full{
    width:100%
}

.bg-left-10{
    margin-left:10%;
}
.bg-left-20{
    margin-left:25%;
}
.bg-left-15{
    margin-left:15%;
}
.bg-left-5{
    margin-left:5%;
}

.bg-alert-info{
    text-align: start;
    display:flex;
    background: rgba( 8, 191, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:700px;
    height:30px;
    margin:0;
    position:relative;
    padding: 10px;
    font-stretch: expanded;
    word-spacing: normal;
    word-spacing: 20%;
}

.hide{
    display:none;
}

.btn-close{
    justify-content: right;
}

.bg-fixed{
    position:fixed;
    
}

/*shapes */

.bg-circle{
    border-radius: 35px;
    backdrop-filter: blur(18.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(66,60,90,0.7), rgba(66,60,90,0.7));
}
